* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    
}

.game-board { /* corpo da pagina */
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #34b912;
    position: relative;
    overflow: hidden; /* se elemento sair da pagina sera escondido */
    background: linear-gradient(#0b9bd4, #a8cbec);
}


.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.cloud {
    position: absolute;
    width: 650px;
    animation: clouds-animation 20s infinite linear;
}

.jump{
    animation: jump 600ms ease-out;
}

@keyframes pipe-animation{
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
} 

@keyframes clouds-animation {
    from{
        right: -650px;
    }to {
        right: 100%;
    }
}

#pontuacao {
    font-size: 50px;
    font-weight: bold;
    color: rgba(255, 187, 0, 0.945);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'mario-coin', sans-serif;
    
  }
  @font-face {
    font-family: 'mario-coin';
    src: url('../fontes/mario-coin.TTF') format('truetype');
    
  }