* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #1d6e08;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#0b9bd4, #a8cbec);
}


.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.cloud {
    position: absolute;
    width: 650px;
    animation: clouds-animation 20s infinite linear;
}

.jump{
    animation: jump 600ms ease-out;
}

@keyframes pipe-animation{
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
} 

@keyframes clouds-animation {
    from{
        right: -650px;
    }to {
        right: 100%;
    }
}

#pontuacao {
    font-size: 50px;
    font-weight: bold;
    color: rgba(255, 187, 0, 0.945);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'mario-coin', sans-serif;
    
  }
  @font-face {
    font-family: 'mario-coin';
    src: url('../fontes/mario-coin.TTF') format('truetype');
    
  }

  .footer{
    margin: 0 auto;
    color:white;
    width: 300px;
    font-family: normal;
    font-family: 'mario-coin', sans-serif;
    display: flex;
    align-items: center;
    transition: color 1s ease-in-out;
    animation: mudar-cor 2s infinite alternate-reverse linear;

    
  }

  
  /* Define a animação para mudar continuamente a cor */
  @keyframes mudar-cor {
    0%   { color: red;
         }
    20%  { color: blue;
        ; }
        
    40%  { color: green;
        }
        
    60%  { color: yellow;
         }
    80% { color: red;
        }

    100% { color: rgb(255, 0, 170);
        margin-top: 400px; }

  }