
.section01{
  background-color: rgba(68, 123, 165, 0.452);
}
.section02{
  background-color: rgba(202, 194, 168, 0.39);
}
.section03{
  max-height: 100%;
  max-width: 100%;
  background-color: rgba(73, 32, 5, 0.699);
}
.section04{
  
  background-color: rgba(69, 97, 119, 0.452);
}
.section06{
  border-bottom: 3px solid rgba(228, 228, 228, 0);
}

/*----------------------------------------------*/
.text_section02{
  h1 ,p{
    background-color: rgb(202, 194, 168);
 }
}

.text_section03{
  h1,p{
    background-color: rgba(73, 32, 5, 0.699);
  }  
}
